.--register__form {
    width: 100%;
    max-width: 275px;
}

.--register-form__button {
    width: 100%;
}

.--register-goto__text {
    display: block;
    margin-top: 0.5em;
    text-align: center;
}

.--register-goto__link {
    font-weight: 500;
    margin-left: 12px !important;
    color: var(--color-primary);
}