@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Inter !important;
  margin: 0px !important;
}

:root {
  --color-primary: #53c249;
  --height-content: 83.5vh
}


.--layout__content {
  height: var(--height-content);
  max-height: var(--height-content);
}

.--form-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height-content) !important;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: stretch;
}

.--form__container {
  background-color: #FFF;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 24px;
}

:where(.css-dev-only-do-not-override-1ungxpp).ant-layout-header {
  height: 64px;
  padding-inline: 10px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  background: #fff;
}