.--layout-header__logo {
  width: 100px;
}

.--app__logo {
  float: left;
  width: 100%;
  height: 64px;
  max-height: 64px;
  margin: 0;
  background-color: #fff;
  background-image: url('../assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.--layout__content {
  height: 100vh;
}

.--layout__footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.--footer__avatar {
  margin-right: 12px;
}